body {
	background-color: #F5F5F5;
	font-family: Gilroy,Verdana,sans-serif;
}

.bd {
	background-color: #181414;
}

.rectangle1 {
	height: 51.598px;
	width: 349.254px;
	position: absolute;
	left: 326.233px;
	top: 540.528px;
	border-radius: 11.75px;
	align-items: center;
	display: flex;
	background-color: #FFFFFF;
	text-indent: 91.784px;
	font-size: 30px;
	box-shadow: 5px 5px 5px grey;
}

.r1d {
	height: 51.598px;
	width: 349.254px;
	position: absolute;
	left: 326.233px;
	top: 540.528px;
	border-radius: 11.75px;
	align-items: center;
	display: flex;
	background-color: #1E1E1E;
	text-indent: 91.784px;
	font-size: 30px;
	box-shadow: 5px 5px 5px grey;
}

.rectangle2 {
	height: 51.598px;
	width: 349.254px;
	position: absolute;
	left: 859.785px;
	top: 540.528px;
	border-radius: 11.75px;
	align-items: center;
	display: flex;
	background-color: #FFFFFF;
	text-indent: 91.784px;
	font-size: 30px;
	box-shadow: 5px 5px 5px grey;
}

.r2d {
	height: 51.598px;
	width: 349.254px;
	position: absolute;
	left: 859.785px;
	top: 540.528px;
	border-radius: 11.75px;
	align-items: center;
	display: flex;
	background-color: #1E1E1E;
	text-indent: 91.784px;
	font-size: 30px;
	box-shadow: 5px 5px 5px grey;
}

.img1 {
	position: absolute;
	width: 366.667px;
	height: 112.82px;
	left: 585.667px;
	top: 50.9px;
}

.rectangle3 {
	position: absolute;
	height: 51.598px;
	width: 65.685px;
	top: 540.528px;
	left: 609.802px;
	border-radius: 11.75px;
	background-color: #000000;
}

.rectangle4 {
	position: absolute;
	height: 51.598px;
	top: 540.528px;
	left: 609.802px;
	width: 32.842px;
	background-color: #000000;
}

.rectangle5 {
	position: absolute;
	height: 51.598px;
	width: 65.685px;
	top: 540.528px;
	left: 1143.354px;
	border-radius: 11.75px;
	background-color: #000000;
}

.rectangle6 {
	position: absolute;
	height: 51.598px;
	top: 540.528px;
	left: 1143.354px;
	width: 32.842px;
	background-color: #000000;
}

.r3d {
	position: absolute;
	height: 51.598px;
	width: 65.685px;
	top: 540.528px;
	left: 609.802px;
	border-radius: 11.75px;
	background-color: #FFFFFF;
}

.r4d {
	position: absolute;
	height: 51.598px;
	top: 540.528px;
	left: 609.802px;
	width: 32.842px;
	background-color: #FFFFFF;
}

.r5d {
	position: absolute;
	height: 51.598px;
	width: 65.685px;
	top: 540.528px;
	left: 1143.354px;
	border-radius: 11.75px;
	background-color: #FFFFFF;
}

.r6d {
	position: absolute;
	height: 51.598px;
	top: 540.528px;
	left: 1143.354px;
	width: 32.842px;
	background-color: #FFFFFF;
}

.img2 {
	content:url("pointer.png");
	position: absolute;
	width: 29px;
	height: 33px;
	top: 549.827px;
	left: 628.144px;
}

.i2d {
	content:url("pointerdark.png");
	position: absolute;
	width: 29px;
	height: 33px;
	top: 549.827px;
	left: 628.144px;
}

.img3 {
	content:url("pointer.png");
	position: absolute;
	width: 29px;
	height: 33px;
	top: 549.827px;
	left: 1161.696px;
}

.i3d {
	content:url("pointerdark.png");
	position: absolute;
	width: 29px;
	height: 33px;
	top: 549.827px;
	left: 1161.696px;
}

.rectangle7 {
	position: absolute;
	width: 349.254px;
	height: 271.934px;
	left: 326.825px;
	top: 238.465px;
	border-radius: 11.75px;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 5px grey;
}

.rectangle8 {
	position: absolute;
	width: 349.254px;
	height: 271.934px;
	left: 860.377px;
	top: 238.465px;
	border-radius: 11.75px;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 5px grey;
}

.r7d {
	position: absolute;
	width: 349.254px;
	height: 271.934px;
	left: 326.825px;
	top: 238.465px;
	border-radius: 11.75px;
	background-color: #1E1E1E;
	box-shadow: 5px 5px 5px grey;
}

.r8d {
	position: absolute;
	width: 349.254px;
	height: 271.934px;
	left: 860.377px;
	top: 238.465px;
	border-radius: 11.75px;
	background-color: #1E1E1E;
	box-shadow: 5px 5px 5px grey;
}

.img4 {
	position: absolute;
	height: 251.934px;
	width: 115.709px;
	left: 443.598px;
	top: 248.465px;
}

.img5 {
	position: absolute;
	height: 220.749px;
	width: 206.799px;
	left: 931.604px;
	top: 264.058px;
}

.rectangle9 {
	position: absolute;
	height: 51.598px;
	width: 349.254px;
	background-color: #FFFFFF;
	border-radius: 11.75px;
	left: 594.373px;
	top: 640px;
	font-size: 30px;
	display: flex;
	align-items: center;
	text-indent: 80px;
	box-shadow: 5px 5px 5px grey;
}

.r9d {
	position: absolute;
	height: 51.598px;
	width: 349.254px;
	background-color: #1E1E1E;
	border-radius: 11.75px;
	left: 594.373px;
	top: 640px;
	font-size: 30px;
	display: flex;
	align-items: center;
	text-indent: 80px;
	box-shadow: 5px 5px 5px grey;
}

.img6 {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 649.299px;
	left: 894.284px;
}

.img7 {
	content:url("light.png");
	position: absolute;
	width: 33px;
	height: 33px;
	left: 610.716px;
	top: 649.299px;
}

.i7d {
	content:url("dark.png");
	position: absolute;
	width: 33px;
	height: 33px;
	left: 610.716px;
	top: 649.299px;
}

.d {
	color: #FFFFFF;
}