/* Homepage */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-vcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage {
  position: relative;
  padding: 72px 306px 42px 305px;
  box-sizing: border-box;
  background-color: rgba(243, 243, 243, 1);
  width: 1440px;
  height: 1024px;
}

.group-621 {
  height: 100%;
}

.image-5 {
  width: 550px;
  height: 169.23px;
  margin-bottom: 100px;
}

.group-799 {
  margin-bottom: 53px;
  box-sizing: border-box;
  width: 100%;
}

.group-419 {
  padding: 35px 96px 46px 94px;
  margin-right: 161px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
  width: 333px;
  height: 100%;
}

.group-1 {
  width: 140.77px;
  height: 100%;
}

.group-546 {
  padding: 76px 22px 60px 40px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
  width: 333px;
  height: 100%;
}

.group-2 {
  width: 268.85px;
  height: 100%;
}

.group-799 {
  margin-bottom: 53px;
  box-sizing: border-box;
  width: fit-content;
}

.group-977 {
  padding: 13px 103px 14px 74px;
  margin-right: 166px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 327px;
  height: 100%;
}

.txt-717 {
  font-size: 40px;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-322 {
  padding: 14px 103px 13px 76px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 327px;
  height: 100%;
}

.txt-717 {
  font-size: 40px;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-13 {
  position: relative;
  width: 266px;
  height: 69.03px;
}

.union {
  position: absolute;
  top: 69px;
  left: 266px;
  width: 66.27px;
  height: 100%;
}

.group-554 {
  position: absolute;
  top: 0px;
  none: 0px;
  width: 250px;
  height: 100%;
}

.group-179 {
  padding: 16px 14px 21px 21px;
  margin-right: 17px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/zdkovf2oq4-239%3A1774?alt=media&token=740dfa8a-e141-412a-ac30-2abde32588bf);
  background-size: 100% 100%;
  height: 100%;
}

.vector {
  width: 31.94px;
  margin-right: 7px;
  height: 100%;
}

.txt-713 {
  font-size: 23.35px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-7 {
  width: 32.9px;
  height: 32.9px;
}

.group-645 {
  position: absolute;
  top: 785px;
  none: 0px;
  padding: 22px 20px 23px 17px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/zdkovf2oq4-47%3A2939?alt=media&token=6a584665-c770-492c-81e1-ec281f69fa4e);
  background-size: 100% 100%;
  width: 62px;
  height: 74px;
}

.vector-6 {
  width: 25px;
  height: 100%;
}

.group-464 {
  position: absolute;
  top: 785px;
  none: 0px;
  padding: 22px 20px 23px 17px;
  box-sizing: border-box;
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/zdkovf2oq4-47%3A2941?alt=media&token=9bdb54d6-3f78-4350-aa23-8838b3fe09f4);
  background-size: 100% 100%;
  width: 62px;
  height: 74px;
}

.vector-6 {
  width: 25px;
  height: 100%;
}
